@mixin boxShadow($opacity) {
  box-shadow: 0 0 15px rgba(0, 0, 0, $opacity);
}

%borderRadius {
  border-radius: 2px;
}

@mixin flex($dir, $justify, $align) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

%flexCenter {
  @include flex(row, center, center);
}